<table class="table">

  <h1>Sakaya Store</h1>
  <% @sakayas.each do |sakaya| %>
    <tr>
          <td>
            <%= sakaya.title %>
          </td>
          <td>
            <%= sakaya.price %>
          </td>
          <td>
            <%= sakaya.stock %>
          </td>

        <td>
          <%= link_to "Show", sakaya_path(sakaya), :class => "btn btn-info" %>
        </td>
        <td>
          <%= link_to 'Edit', edit_sakaya_path(sakaya), :class => "btn btn-success" %>
        </td>
        <td>
          <%= link_to 'Delete', sakaya_path(sakaya), :method => :delete, :data => { :confirm => "你確定要刪除資料?" }, :class => "btn btn-danger" %>
        </td>
    <% end %>
  </tr>
</table>


<%# link_to '新增商品', new_sakaya_path , :class => "btn btn-primary"%>
<%= paginate @sakayas %>
<%= form_for @sakaya, :url => { :controller => 'sakayas', :action => 'create' } do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= f.submit "Create", :class => "btn btn-primary" %>
<% end %>


